body {
  background-image: linear-gradient(180deg, #ecc5d2 40%, #6daae7 100%);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 60px;
}

.container {
  /* width: 607px;
  height: 829px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 12px;
  background-image: linear-gradient(180deg, #0077b6 0%, #0077b6 100%); */

  width: 80%;
  max-width: 768px;
  /* min-width: 400px; */
  background: linear-gradient(180deg, #0077b6 0%, #0077b6 100%);
  margin: 0px auto;
  border-radius: 15px;
  padding: 20px;
  flex-grow: 1;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 360px;
  margin: 10px auto;
}

.cityInput {
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 10px;
  padding-left: 20px;
  color: #626262;
  font-size: 20px;
  font-weight: 400;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 78px; */
  /* height: 78px; */
  /* height: max-content; */
  width: 30px;
  height: 30px;
  background: #ebffce;
  padding: 5px;
  border-radius: 50%;
  /* border-radius: 40px; */
  cursor: pointer;
}
.weather-image {
  margin-top: 29px;
  display: flex;
  justify-content: center;
}
.weather-temp {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 120px;
  font-weight: 400;
}
.weather-location {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 60px;
  font-weight: 400;
}
.data-container {
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: center;
}
.element {
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.data {
  font-size: 34px;
  font-weight: 400;
}
.text {
  font-size: 20px;
  font-weight: 400;
}
.icon {
  margin-top: 10px;
}
.pressure {
  margin-top: 6px;
}
