.container{
    width: 607px;
    height: 829px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 12px;
    background-color: #fce055;
    background-image: linear-gradient(319deg, #fce055 0%, #256eff 37%, #46237a 100%);
}


.top-bar{
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 60px;
}
.top-bar input{
    display: flex;
    width: 362px;
    height: 78px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262 ;
    font-size: 20px;
    font-weight: 400;
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    background: #ebffce;
    border-radius: 40px;
    cursor: pointer;
}
.weather-image{
    margin-top: 29px;
    display: flex;
    justify-content: center;
}
.weather-temp{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 120px;
    font-weight: 400;
}
.weather-location{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: 400;
}
.data-container{
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
}
.element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.data{
    font-size: 34px;
    font-weight: 400;
}
.text{
    font-size: 20px;
    font-weight: 400;
}
.icon{
    margin-top: 10px;
}
